<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Sistema de gestión para Librería" />
    <meta name="author" content="" />


    <title>DevExtreme Libreria</title>
    <link rel="icon" href="~/Content/Imagen/icono-libro.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    @Styles.Render("~/Content/DevExtremeBundle")
    @Styles.Render("~/Content/bundle")

    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")


</head>
<body style="padding-top: 3.5rem; background-color: #F9FFE0;">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #C5E763; box-shadow: 0 2px 10px rgba(197,231,99,0.4);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: 600; color: #37472c;">
                <i class="fas fa-book-open me-2"></i> DevExtremeLibreria
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" class="nav-link active" style="color: #37472c;">
                            <i class="fas fa-home"></i> Inicio
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: #37472c;">
                            <i class="fas fa-book"></i> Catalogos
                        </a>
                        <ul class="dropdown-menu" style="background-color: #F0F8C8; border: 1px solid #AED581;">
                            <li><a class="dropdown-item" href="@Url.Action("Libro", "Home")">Libros</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Autor", "Home")">Autores</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Editorial", "Home")">Editoriales</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Ubicacion", "Home")">Ubicaciones</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: #37472c;">
                            <i class="fas fa-users-cog"></i> Administracion
                        </a>
                        <ul class="dropdown-menu" style="background-color: #F0F8C8; border: 1px solid #AED581;">
                            <li><a class="dropdown-item" href="@Url.Action("Empleado", "Home")">Empleados</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Proveedor", "Home")">Proveedores</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Planilla", "Home")">Planillas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Cargo", "Home")">Cargo</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Sucursal", "Home")">Sucursal</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Turno", "Home")">Turno</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Deducciones", "Home")">Deducciones</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Empleado_planilla", "Home")">Planilla por empleado</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Bonificaciones", "Home")">Bonificaciones</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: #37472c;">
                            <i class="fas fa-cash-register"></i> Ventas
                        </a>
                        <ul class="dropdown-menu" style="background-color: #F0F8C8; border: 1px solid #AED581;">
                            <li><a class="dropdown-item" href="@Url.Action("Pedido", "Home")">Pedidos</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("MetodoPago", "Home")">Metodo de pago</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Detalle_pedido", "Home")">Detalles de pedido</a></li>


                            <li><a class="dropdown-item" href="@Url.Action("Venta", "Home")">Venta</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="@Url.Action("Lector", "Home")" class="nav-link" style="color: #37472c;">
                            <i class="fas fa-user-tag"></i> Lectores
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="@Url.Content("~/Content/Manual/Manual de Usuario.pdf")" class="nav-link" target="_blank" style="color: #37472c;">
                            <i class="fas fa-info-circle"></i> Acerca de /Manual Usuario
                        </a>
                    </li>

                </ul>

                
            </div>
        </div>
    </nav>

    <!-- CONTENIDO PRINCIPAL -->
    <div id="app-container" class="d-flex">
        <!-- SIDEBAR -->
        <div id="dx-drawer" data-bind="dxDrawer: {
            opened: true,
            template: 'menuTemplate',
            position: 'left',
            revealMode: 'expand',
            minSize: 60,
            maxSize: 250,
            shading: true
        }"></div>

        <!-- CONTENIDO -->
        <main class="container-fluid">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </main>
    </div>

    <!-- TEMPLATE MENU LATERAL -->
    <script type="text/html" id="menuTemplate">
        <div class="dx-drawer-menu" style="background-color: #F0F8C8; height: 100%;">
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action active"
                   style="background-color: #C5E763; border-color: #C5E763; color: #37472c;">
                    <i class="fas fa-home me-2"></i> Inicio
                </a>
                <a href="@Url.Action("Libro", "Home")" class="list-group-item list-group-item-action" style="color: #37472c;">
                    <i class="fas fa-book me-2"></i> Libros
                </a>
                <a href="@Url.Action("Autor", "Home")" class="list-group-item list-group-item-action" style="color: #37472c;">
                    <i class="fas fa-user-edit me-2"></i> Autores
                </a>
                <a href="@Url.Action("Editorial", "Home")" class="list-group-item list-group-item-action" style="color: #37472c;">
                    <i class="fas fa-building me-2"></i> Editoriales
                </a>
                <a href="@Url.Action("Lector", "Home")" class="list-group-item list-group-item-action" style="color: #37472c;">
                    <i class="fas fa-users me-2"></i> Lectores
                </a>




            </div>
        </div>
    </script>

    <!-- SCRIPT INICIALIZACIÓN -->
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            DevExpress.ui.dxDrawer.initialize();
        });
    </script>


</body>

</html>